[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "betaclust"]
	path = betaclust
	url = https://github.com/koyelucd/betaclust
[submodule "idiffomix"]
	path = idiffomix
	url = https://github.com/koyelucd/idiffomix
